/* Small Phone Style */
@media (min-width: 320px) and (max-width: 767px){
/* Top Header */
  header .top-header .info-top-header{
    text-align: center;
    margin-bottom: 10px;
  }
  header .menu .navbar.navbar-default ul.navbar-nav li{
    margin-right: 15px;
  }
  header .top-header ul.list-unstyled{
    margin-top: 10px;
    position: relative;
    display: block;
    text-align: right;
    margin-right: 18px;
  }
  header .top-header ul.list-unstyled i{
    right: -7px;
  }
  header .top-header ul.list-unstyled li:not(.init){
    width: 18%;
    text-align: center;
    right: 0px;
  }
  header .top-header ul.list-unstyled li{
    margin-left: 0px;
  }
  header .top-header ul.list-item{
    text-align: center;
  }
  header .menu .navbar.navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu li a{
    color: #bdbdbd;
  }
  header .menu .navbar.navbar-default ul.navbar-nav>.active>a::after,
  header .menu .navbar.navbar-default ul.navbar-nav li a:hover::after,
  header .menu .navbar.navbar-default ul.navbar-nav li a:focus::after{
    height: 2px;
  }
  header .menu .navbar.navbar-default ul.navbar-search{
    margin-bottom: 0px;
  }
  header .menu .navbar.navbar-default ul.navbar-search form{
    position: relative;
    width: 100%;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 0px;
  }
  header .menu .navbar.navbar-default ul.navbar-search form .form-group .form-control{
    display: inline-block;
    width: 88%;
  }
  /* End Top Header */

  /* Login Home */
  #inner-login{
    padding: 30px 0px 0px;
  }
  #inner-login .registration-form form h2{
    margin-bottom: 20px;
    font-size: 18px;
  }
  #inner-login .slide-home {
    padding: 0px 0px 0px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #Reg_slide.slider-reg .reg-home .owl-nav{
    top: 29%;
  }
  #Reg_slide.slider-reg .reg-home .owl-nav .owl-prev{
    left: -20px;
    height: 39px;
    width: 57px;
    background-size: contain;
    background-position: 22px 0px;
  }
  #Reg_slide.slider-reg .reg-home .owl-nav .owl-next{
    right: -20px;
    height: 39px;
    width: 57px;
    background-size: contain;
    background-position: -22px 0px;
  }
  .footer-home .process{
    margin-bottom: 40px;
  }
  .footer-home .process ul li{
    width: 32%;
  }
  .footer-home .process ul li::before{
    width: 100%;
    right: -77px;
  }
  .footer-home .process ul li span {
    display: block;
    font-size: 12px;
  }
  .footer-home .guide ul li a{
    position: relative;
  }
  .footer-home .guide ul li a i {
    position: absolute;
    left: 0px;
    top: 3px;
  }
  .footer-home .guide ul li a span {
    padding-left: 10px;
    display: block;
  }
  /* End Login Home */

  /* Register */
  #inner-login.reg-page .registration-form{
    width: 100%;
  }
  #inner-login.reg-page .registration-form .badan-usaha .form-inline .form-group.first-input,
  #inner-login.reg-page .registration-form .badan-usaha .form-group.alamat,
  #inner-login.reg-page .registration-form .badan-usaha .form-inline .form-group.npwp,
  #inner-login.reg-page .registration-form .badan-usaha .form-inline.last-inline .form-group,
  #inner-login.reg-page .registration-form .badan-usaha.bottom .form-group.seven,
  #inner-login.reg-page .registration-form .badan-usaha.bottom .form-group.half {
    width: 100%;
    margin-right: 0px;
  }
  #inner-login.reg-page .registration-form .badan-usaha{
    margin-bottom: 50px;
  }
  /* End Register */
}

@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
  /* Dashboard */
  .setting-post .archive-post .tab-content ul li .img-post {
    width: 10%;
  }
  .setting-post .archive-post.half-block-archive .tab-content ul li .img-post {
    width: 10%;
  }
  .setting-post .archive-post.half-block-archive ul.list-berita li .post {
    width: 74%;
  }
  /* End Dashboard */
}
/* End Small Phone Style */

/* tab Phone Style */
@media (min-width: 768px) and (max-width: 1024px){
  /* Menu */
  header .menu .navbar.navbar-default ul.navbar-nav li {
    margin-left: 0px;
  }
  /* End Menu */

  /* dashboard Tab*/
  .canvas{
    padding-top: 0px;
  }
  .canvas .navbar-default{
    background-color: transparent;
    border-color: transparent;
  }
  .col-half-block {
    padding: 0px 10px 0px;
  }
  .col-half-block .white-block{
    margin-bottom: 20px;
  }
  .setting-post {
    padding: 0px 10px;
  }
  .archive-post{
    margin-bottom: 20px;
  }
  /* End dashboard Tab */
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
  /* Menu */
  header .top-header ul.list-unstyled li:not(.init) {
    width: 20%;
  }
  header .menu .navbar.navbar-default ul.navbar-nav li {
    margin-left: 0px;
  }
  /* End Menu */

  /* Footer */
  footer .widget-area .area-1 {
    padding: 60px 40px;
  }
  footer .widget-area .area-1 h3{
    width: 70%;
  }
  footer .widget-area .area-3 ul li{
    margin-right: 7px;
  }
  /* End Footer */

  /* Dashboard */
  .col-half-block .white-block ul.agenda-list li .info-text {
    width: 68%;
  }
  .setting-post .archive-post .tab-content ul li .post {
    width: 85%;
  }
  .setting-post .archive-post.half-block-archive ul.nav.nav-tabs li {
    width: 33%;
  }
  .setting-post .archive-post.half-block-archive ul.list-berita li .post {
    width: 72%;
  }
  /* End Dashboard */
}
/* End tab Phone Style */
